@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hashkit</h1>
    <p class="lead">Hashkit is a educational toolkit for students to learn about hashes.</p>
    <img src="~/Hashkit logo.png"/>
</div>

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
</div>